<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GIPHY</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap">
  <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
  <div id="app">
    <header>
      <div class="header-content">
        <div class="logo-container">
          <h1 class="logo">world of Gif's</h1>
        </div>
        <nav>
          <a href="#" class="nav-link" data-page="trending" id="trending-link">Trending</a>
          <a href="#" class="nav-link" data-page="favorites" id="favorites-link">Favorites</a>
          <a href="#" class="nav-link" data-page="upload" id="upload-link">Upload</a>
          <a href="#" class="nav-link" data-page="about" id="about-link">About</a>
        </nav>

        <div class="search-container">
          <input id="search" type="text" placeholder="Search">
        </div>
      </div>
    </header>
    
    <div id="container" class="grid" id="gif-grid">
      <span id="trending-text" style="display:none;"></span>
      <span id="favorites-text" style="display:none;"></span>
      <span id="search-text" style="display:none;"></span>
      <span id="upload-text" style="display:none;"></span>
      <span id="about-text" style="display:none;"></span>
      <!-- GIFs will be dynamically added here -->
    </div>
    <footer>WebTeamProject</footer>
  </div>
  <script src="./src/index.js" type="module"></script>
</body>

</html>
