/* Existing CSS */

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the logo container */
  position: relative;
  perspective: 1000px;
  /* Add perspective for 3D effect */
}

.logo-image {
  width: 100px;
  /* Adjust as needed */
  height: auto;
  margin-right: 5px;
  /* Space between image and text */
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 8em;
  color: #e0f7fa;
  /* Light cyan */
  text-shadow: 2px 2px 0 #1c311f, 4px 4px 0 #1c311f, 6px 6px 0 #1c311f;
  animation: move-3d 15s infinite alternate ease-in-out, shine 5s infinite;
  transform-style: preserve-3d;
  /* Maintain 3D transformation for child elements */
}



@keyframes shine {
  0% {
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000;
  }

  50% {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8), 4px 4px 5px rgba(255, 255, 255, 0.8), 6px 6px 5px rgba(255, 255, 255, 0.8);
  }

  100% {
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000;
  }
}

/* Rest of your CSS */

body {
  background: #2f4a30;
  /* Dark green */
  color: #e0f2f1;
  /* Very light cyan */
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #2f4a30;
  /* Dark green */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f4a30;
  /* Dark green */
  padding: 10px;
}

nav a {
  color: #f4f4f4;
  /* Light teal */
  margin: 0 20px;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
  border: 2px solid #b5b5b5;
  /* Light teal outline */
  transition: color 0.3s, background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-size: 4em;
  font-family: "Fantasy";
}

nav a:hover {
  color: #2f4a30;
  /* Dark green */
  background-color: #2f4a30;
  /* Light teal */
  transform: scale(1.2);
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.search-container input#search {
  font-size: 20px;
  background-color: #ffffff;
  /* White */
  color: #000000;
  /* Black */
  border: 1px solid gray;
  border-radius: 4px;
  height: 30px;
  width: 200px;
  padding: 1px 15px;
}

#container {
  padding: 20px;
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  color: #ccc;
  background: #2f4a30;
  /* Dark green */
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(198, 0, 0);
  /* Dark red */
}

span.favorite:hover {
  color: rgb(76, 9, 9);
  /* Darker red */
}

.flexbox {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.fav-btn {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: 20px;
    -webkit-text-stroke-color: transparent;
  }

  25% {
    opacity: .6;
    color: #FFF;
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DC3232;
  }

  75% {
    opacity: .6;
    color: #FFF;
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DC3232;
  }

  100% {
    opacity: 1;
    font-size: 22px;
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes favme-hover {
  from {
    font-size: 24px;
  }

  80% {
    font-size: 22px;
  }
}

.favme {
  display: block;
  font-size: 22px;
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all .2s ease;
  color: #CBCDCE;
  margin: 0;
}

.favme.active {
  color: #DC3232;
}

.favme:hover {
  animation: favme-hover .3s infinite alternate;
}

.favme.is_animating {
  animation: favme-anime .3s;
}

.gif-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.gif-container img {
  display: block;
  max-width: 100%;
}

.gif-info {
  padding: 10px;
}

.fav-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
}

#search-results .content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


.gif {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  margin: 10px;
}

.gif img {
  width: 100%;
  height: auto;
  display: block;
}